<h4>Canterbury Soccer Club Parent's Code of Conduct</h4>

<p>Canterbury Soccer Club’s Philosophy is:</p>

<ol>
<li>That the children are on the field to have FUN!</li>
 That coaches teach soccer fundamentals & teamwork and parents, guardians and guests are on the sidelines to provide encouragement and support to the players.</li>
<li>We always strive to provide equal opportunity to all players to play on the fields, and in every position, regardless of skill level.</li>
<li>We provide a safe environment on and around the field of play.</li>
<li>Success is measured by the above & by individual improvement, <em>not by wins & losses</em>.</li>
</ol>

<p><b>
SOCCER IS A TEAM SPORT.<br/>
All you can expect the players to do is their best!
</b></p>

<p>
In light of our philosophy we ask that all our parents, guardians and guests follow a code of conduct as described below:
</p>

<p>
As an integral part of the Canterbury Soccer Club (CSC) team I understand that:
</p>

<ol>
<li>I will help foster a positive environment during practices and games. I will use positive reinforcement and language and will refrain from belittling or negative statements to players on my or any team.</li>
<li>I will try, within the best of my abilities, to ensure that my child is on time and properly equipped for soccer.</li>
<li>I will respect that all players have equal play and practice time, regardless of ability.</li>
<li>I will respect all players, parents, coaches, referees, spectators and ensure my player(s) do(es) so as well. I will respect all referee decisions, and in keeping with the laws of soccer, as a spectator, I will not directly dispute referee decisions on the field or after the game. In case of serious disagreement, I will bring the situation to the attention of the CSC Executive through email <a href="mailto:canterburysoccer@gmail.com">canterburysoccer@gmail.com</a>.</li>
<li>I will not use profane or vulgar language while on the field or interacting with any member of CSC.</li>
<li>I will refrain from smoking while on city and school property, in compliance with City of Ottawa By-Laws.</li>
<li>I will abide by City By-Laws and club rules in regard to parking. Parking in the St. Gemma Catholic School parking lot is NOT permitted before 6 pm, as the school has an after school program and children are being picked up. Parking is not permitted in front of the double gates leading into the back of the school: this area must remain clear for Emergency Vehicles. CSC does not assume liability for any parking violations, and/or damage to property/vehicles.</li>
<li>I understand that a busy soccer field can be overwhelming for dogs and so if I chose to bring my dog it must be leashed, under control and is not allowed within 5 m of sandy play areas. Owners assume all liability for dogs.</li>
<li>I will not use or be under the influence of alcohol or illegal substances while attending CSC events.</li>
</ol>

<p>
I understand that the above Code of Conduct is required to ensure the smooth delivery of Canterbury Soccer Club’s programs. I understand that serious violation of the Code of Conduct may result in being banned from CSC events.
</p>

<pre>
Name__________________________________________________

Signature________________________________________ Date:___________________________
</pre>
