<h4>Do I have to stay with my child?</h4>

<p>
<b>YES! We do not assume responsibility for unsupervised children.</b> Our coaches are parents with their own children to look after, they cannot supervise children when they are not playing as they must focus on the field. STAY! RELAX! WATCH THE FUN!
</p>

<h4>Can my child be put on a team with their best friend/classmates/cousins etc?</h4>

<p>Teams are organized so that there is an equal distribution of ages and genders throughout the division. As such, it is very difficult to allow groups of children to play together on any given team. However, we do understand that some children will only play if they are with their friends. CSC policy is:
<ul>
    <li>Parents who wish to coach together can do so and of course have their children on the team together.</li>
    <li>Siblings can be put together, or kept apart, according to parental wishes.</li>
    <li>You may request ONE other friend to play with your child providing that child requests your child. There is only ONE friend request per child and it must be entered in the space provided (on the waiver page, near the medical concerns box) on the registration website. We will try our best to honour those requests but due to the need to balance the teams, they may not be possible.</li>
    <li>Requests received in writing, with cheques, via email, in person, via social media, or those given to coaches on the first day of play WILL NOT be considered valid.</li>
</ul>
</p>

<h4>How will I know what team my child is on?</h4>

<p>
Parents will be contacted by team coaches who will provide information such as what team your child is playing on. If you do not get an email or call, just present yourself on the first night, at the designated park and look for one of our volunteers.
</p>

<h4>What do I need to bring?</h4>

<ul>
    <li><b>Ages 5-8 need:</b>
        <ul>
            <li>A sturdy pair of sneakers (no sandals, clogs, crocs) OR a pair of soccer cleats (these can be purchased at stores like Canadian Tire, Walmart etc for 20-40$). Soccer cleats are recommended for ages 7-8.</li>
            <li>Shinguards are very strongly recommended at all levels. With shinguards your child is safer and will have more confidence to challenge for the ball. Shinguards can be purchased at stores like Canadian Tire, Walmart etc.</li>
            <li>LONG socks (i.e. soccer socks) are highly recommended. Shinguards should be mostly, if not all, covered by socks. If children do not have shinguards, they should wear long socks pulled up. Soccer socks can be purchased at Canadian Tire and other specialty soccer stores.</li>
            <li>A water bottle, with water (not sport drinks).</li>
            <li>A team shirt will be distributed at the first game.</li>
            <li>Children should wear shorts for warm evenings, but, as it can sometimes be cold in May, please monitor the weather and dress them appropriately.</li>
            <li>Sunscreen and bugspray may be needed.</li>
        </ul>
    </li>
    <li><b>Ages 9-15:</b>
        <ul>
            <li>Highly recommended: a pair of soccer cleats (these can be purchased at stores like Canadian Tire, Walmart, Sportchek etc for 20-40$). This provides safe traction and the foot protection needed to kick the ball properly.</li>
            <li>Shinguards: can be purchased at Canadian Tire, Walmart, Sportchek etc.</li>
            <li>Long soccer socks are recommended.</li>
            <li>A team shirt will be distributed at the first game.</li>
            <li>Shorts or track pants according to the weather.</li>
            <li>Water bottle with water, not sports drinks.</li>
            <li>A light snack for half time (orange slices are the best).</li>
            <li>Sunscreen and bugspray as needed.</li>
        </ul>
    </li>
</ul>

<h4>What about snacks for the team?</h4>

<p>
Due to the high prevalence of allergies, we do not provide snacks at the end of games with the exception of “Treat Day” which is often the last or second last evening of the season. Parents may wish to bring something like freezies to share with the team, but be aware that they should obtain permission from the parents of the children in question before sharing, and that children should receive the freezies off the field so that the next division can play.
</p>
<p>
Coaches will NOT organize a snack rotation for higher levels.
</p>

<h4>Where can I park?</h4>
<p>
Parking is very limited around the school during Monday and Wednesday nights particularly. You may only park in St. Gemma Catholic School parking lot AFTER 6pm. You may NOT park in front of the double gates to the schoolyard at ANY time (this area must remain clear for Emergency Vehicles). Parking can be found on McMaster and Aster Drives, on Fairmeadow Ave (there is a path that leads to the school fields) and on other surrounding streets.
</p>
<p>
For the 2022 Season, we have arranged parking at Congregation Machzikei Hadas on Virginia Ave EXCEPT FOR the first row of spaces closest to the street. These are reserved for evening prayer service goers. Please use this facility with respect and do not block the fire lanes. Parking is at your own risk. Parking may not be available at times due to synagogue activties and an email will be sent out for certain dates as needed.
</p>
<p>
Please obey all parking and traffic rules. Do not block the driveways of residents around the school or synagogue. Do not park on the lawn or grass of St. Gemma Catholic School.
</p>
<p>
We encourage you to walk, bike or take the bus if at all possible.
</p>


<h4>What about rain cancellations?</h4>
<p>
We play in the rain. The season is too short to cancel for simple, light rain. We will cancel for very heavy rain, if the fields are unsafe to play on (or the city has asked us to remain off them), and if there is an active thunderstorm in our area. You will be informed of cancelations on this website, by Twitter, by Facebook and by email.
</p>

<h4>Can I let my child play on the Play Structure?</h4>
<p>
Many children love to play on the Play Structure behind St. Gemma Catholic school or in Rabbi Bulka park after their games and while siblings are playing in other divisions. Be aware that you must ensure adequate supervision for children while they are on the play structure. CSC does not assume any responsibility for children using the play structure. Children should NOT wear soccer cleats on the structure as they do not provide adequate grip on metal, plastic or wooden surfaces. CSC is not responsible for the play structure. Any issues with the structure should be reported to the City of Ottawa or St. Gemma Catholic School.
</p>


<h4>I am looking for a garbage can…</h4>
<p>
Please take your garbage and recycling home. Do not litter the fields. Extra points for picking up garbage you see lying around.
</p>

<h4>My child lost his/her water bottle, soccer cleats, glasses, sweater etc….and/or I found something else…</h4>
<p>
Lost & Found can be brought to the Canterbury Community Centre. Also check for lost items with the nearby schools (that is, St. Gemma School), during regular school hours. If you find or lose anything valuable please contact us, or post a notice on our Facebook page.
</p>

<h4>My child is not certain if they want to play…</h4>
<p>
Our program is designed for children that are entering the area of team sports for the first time. There are lots of ways to encourage children gently to have fun playing soccer. First, let them see real soccer (i.e. watch it on TV, watch clips on YouTube), and kick a ball around a bit at home. Then, when they start to play, reassure them that you will be with them on the side lines. Many shy children will join in for the practice, but would rather watch the game from the sidelines: that is OKAY! Most skill development occurs during the practice, so they can observe a game and maybe, in a little bit, they will join in. You can volunteer as a coach/assistant coach if you are really worried.
</p>

<h4>REFUND / CANCELLATION / UNPAID FEES POLICY</h4>
<p>
Any unpaid registration will be CANCELLED as of May 15th to allow children on the waitlist to be accommodated. Cancellations for other reasons must be received (via email) by May 15th to allow children on the waitlist to be accommodated. Refunds will be issued for cancellations received before May 15th. After May 15thth there are no refunds.
</p>
