<p>
<b>COACH / ASSISTANT COACH</b>: At the Mini-Tykes, Tykes and Atoms levels, the rules are simplified. We have coaching clinics to show you how. It's fun, since some of the assistants may want to run around during the game while coaching the kids. Some assistants are always needed to sort out who's on or off the field. No, we do not expect you to make every game. You're busy and we understand; that's why we try to pair up coaches to share duties.
</p>
<p>
<b>CONVENORS / DIVISION LEADERS</b>: We need convenors for each division to roster teams.  Convenors also inform coaches of their roster and ensure each team is adequately coached throughout the season.
</p>
<p>
<b>EQUIPMENT ASSISTANTS</b>: Prior to the soccer season, the old equipment has to be checked; new equipment, medals, and T-shirts ordered; balls inflated; and team bags put together for coaches. This is a large task but with a number of volunteers helping out the job is quite manageable.
</p>
<p>
<b>EXECUTIVE MEMBERS</b>: We are always looking for new executive members to take over the co-ordination and running of the club as our current executive members move on with their children to other activities. If interested in learning about these positions (President, Vice-President, Secretary & Treasurer), please contact the current executive.
</p>
<p>
<b>FIELD MAINTENANCE TEAM</b>: At the beginning of the season and throughout the season as required, the clubs needs to survey the fields and make minor repairs. We also need to mark lines and make sure they are marked by our paid referees every week.  This year, the team will get out to the field May 14th to repair and mark.
</p>
<p>
<b>HEAD COACH</b>:  The head coach coordinates coaches and ensures they are trained and informed. Duties are not that time consuming for our type of recreational club and involve participating in some pre-season planning meetings, organizing a coaching clinic, updating our simplified soccer rules as required, and passing on whatever know-how you've got to share.
</p>
<p>
<b>PHOTOGRAPHER</b>: During the season we need someone to go out and take some pictures of all soccer teams in the 5 divisions so that at the end of the year each child can take home a picture. We reimburse you for the processing and printing of the photos.
</p>
<p>
<b>COMMUNICATIONS/ADVERTISING</b>: This is largely a pre-season ob during the months of February, March, and April, and it involves finding new ways to get our message out, coordinating social media, printing and distributing flyers to schools, etc.
</p>
<p>
<b>TEAM HELPER</b>: Team helpers are needed, although this function can vary from team to team. Team helpers can be called upon to lend a hand with duties, such as, making sure parents have schedules and emails of coaches, keeping track of equipment during games so it doesn't get lost, assisting with setting up for the team photo event, taking over assistant coach duties for a game (when needed), and picking up the refreshments for the last game of the season.  Contact your coach to volunteer!
</p>
<p>
<b>TRANSLATOR</b>: Parlez-vous français?  We badly need tranlators to translate our communications and our website.  We also need Arabic translators.  Contact us at canterburysoccer@gmail.com if you can help.
</p>
<p>
If you are interested in volunteering for any of these positions and are registering your children to join the club, please click the following to register:
</p>
