// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.left {
  text-align: left;
}

.page-section {
  padding: 10px 0;
  h1.page-header {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: $secondary;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 15px 0;
  }
}

.dropshadow { text-shadow: 0 0 6px black; }

.highlightshadow { text-shadow: 2px 2px 4px $primary; }

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

hr {
  background: $primary;
  color: $primary;
  width: 50%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%
}

.col-4 {
    width: 25%;
}

figure img {
    max-width: 100%;
    max-height: 100%;
}

.action-button, .action-button a {
    margin-right: 2em;
    margin-bottom: 0.5em;
    padding: 1em 1em;
}

.action-button a {
    border: solid 2px $secondary;
    border-radius: 5px;
    transition: all 0.55s ease 0;
    font-weight: 600;
    color: $secondary;
    font-family: "Lato", sans-serif;
    font-size: 18px !important;
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
}

.action-button a:visited {
    text-decoration: none;
}

.action-button a:hover {
    background-color: $secondary;
    color: #FFF;
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
